body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.todo-container {
    text-align: center;
    background-color: #34495e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-container button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.filter-container button:hover {
    background-color: #2980b9;
}

.add-task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-task-container input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #2c3e50;
    border-radius: 4px;
    background-color: #34495e;
    color: #ecf0f1;
}

.add-task-container button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-task-container button:hover {
    background-color: #2980b9;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #2c3e50;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #34495e;
}

li.completed span {
    text-decoration: line-through;
    color: #888;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
    text-align: left;
}

.check {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.dlBtn {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #e74c3c; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dlBtn:hover {
    background-color: #c0392b; 
}
