body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 400px;
  }
  
  h1 {
    color: #3498db;
  }
  
  .settings {
    margin-bottom: 20px;
    display: flex;
    gap: .5rem;
    flex-direction: column;
  }
  
  label {
   text-align: left;
  }
  
  input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  input:focus {
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  .result {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
  }
  


  
  .result-item.show {
    opacity: 1;
    transform: translateY(0);
  }
  

input[type="color"] {
    padding: 0px;
    border: none;
    width: 100%;
  }
  

  .result-item {
    padding: 10px 0;
    margin: 5px;
    border-radius: 4px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
  }
  

  .result-item.fizz {
    background-color: var(--fizz-color, #3498db);
    color: var(--fizz-text-color, #fff);
    flex: 1;
  }
  
  .result-item.buzz {
    background-color: var(--buzz-color, #2ecc71);
    color: var(--buzz-text-color, #fff);
    flex: 1;
  }
